<DOCTYPE html!>
<html ng-app='ytApp'>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Video Gallery</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap -->
    <link href="../mediathek/css/bootstrap.min.css" rel="stylesheet">
    <link href="../mediathek/css/style.css" rel="stylesheet">
</head>
<body>
 <div class="part-a"> 
  <div class="container">
    <div class="ytPlayer">
      <div id="player"></div>
    </div>
    </div> 
  </div>

  <div class="part-b">
    <div class="container">
    <div ng-controller="VgController" class="ytVideoGallery">  
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <h3>Unseren neuesten Spots</h3>
        </div>
        <div class="col-xs-6 col-sm-4">
          
        </div>
        <div class="col-xs-6 col-sm-4">
          <form id="searchform" role="search">
            <div class="input-group">

              <input ng-model="nameText" id="search" class="searchfield" placeholder="Suche nach Videos">
                <div class="input-group-btn">
                  <button id="searchbtn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
          </form>   
        </div>
          
        
      </div> 
      <div class="col-xs-2 col-sm-2">
        <dir-pagination-controls boundary-links="false" template-url="dirPaginationLeft.tpl.html" pagination-id="All"></dir-pagination-controls>
      </div>
      <section class="col-xs-8 col-sm-8" class="videos">
        <div class="col-xs-6 col-md-4" dir-paginate="video in videoList | filter:nameText | itemsPerPage: pageSize" current-page="currentPage" pagination-id="All">
          <a href ng-click="launch(video.id)">
            <div class="thumbnail">
              <img ng-src="{{video.snippet.thumbnails.medium.url}}"></img>
              <div class="caption">
                <div class="title"><h6> {{video.snippet.title}} </h6></div>
                <div class="desc">{{video.snippet.description}}</div>
              </div>
            </div>
          </a>  
        </div>
      </section> 
      <div class="col-xs-2 col-sm-2">
        <dir-pagination-controls boundary-links="false" template-url="dirPaginationRight.tpl.html" pagination-id="All"></dir-pagination-controls>

  
      </div>
    </div>

      
    <div ng-controller="ThirdController" class="ytVideoGallery">
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <h3>DHBW verbindet</h3>
        </div>
        <div class="col-xs-6 col-sm-4">
          
        </div>
        <div class="col-xs-6 col-sm-4">    
        </div>
      </div> 
      <div class="col-xs-2 col-sm-2">
        <dir-pagination-controls boundary-links="false" template-url="dirPaginationLeft.tpl.html" pagination-id="DHBW_verbindet"></dir-pagination-controls>
      </div>
      <section class="col-xs-8 col-sm-8" class="videos">
        <div class="col-xs-6 col-sm-4" dir-paginate="video in videoList | filter: 'DHBW verbindet' | itemsPerPage: pageSize" current-page="currentPage" pagination-id="DHBW_verbindet">
          <a href ng-click="launch(video.id)">
            <div class="thumbnail">
              <img ng-src="{{video.snippet.thumbnails.medium.url}}"></img>
              <div class="caption">
                <div class="title"><h6> {{video.snippet.title}} </h6></div>
                <div class="desc">{{video.snippet.description}}</div>
              </div>
            </div>
          </a>  
        </div>
      </section> 
      <div class="col-xs-2 col-sm-2">
        <dir-pagination-controls boundary-links="false" template-url="dirPaginationRight.tpl.html" pagination-id="DHBW_verbindet"></dir-pagination-controls>
    </div>
  </div>
</div>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../mediathek/js/bootstrap.min.js"></script>  
<script type="text/javascript" src="../mediathek/js/angular.min.js"></script>
<script type="text/javascript" src="../mediathek/js/youtubePlayer.js"></script>
<script type="text/javascript" src="../mediathek/js/app.js"></script>
<script type="text/javascript" src="../mediathek/js/dirPagination.js"></script>       
</body>
</html>


